In [20]:
# Surpress warnings:
def warn(*args, **kwargs):
    pass
import warnings
warnings.warn = warn

In [21]:
import pandas as pd
# Regression Tree Algorithm
from sklearn.tree import DecisionTreeRegressor
# Split our data into a training and testing data
from sklearn.model_selection import train_test_split

In [22]:
data = pd.read_csv("real_estate_data.csv")

data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,NaN,36.2

In [23]:
data.shape

(506, 13)

In [24]:
data.isna().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
LSTAT      20
MEDV        0
dtype: int64

### Data Pre-Processing

In [25]:
#drop the rows with missing values

data.dropna(inplace=True)

In [26]:
data.isna().sum()

CRIM       0
ZN         0
INDUS      0
CHAS       0
NOX        0
RM         0
AGE        0
DIS        0
RAD        0
TAX        0
PTRATIO    0
LSTAT      0
MEDV       0
dtype: int64

In [27]:
# split the dataset into our features and what we are predicting (target)
X = data.drop(columns=["MEDV"])
Y = data["MEDV"]

In [28]:
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94
5,0.02985,0.0,2.18,0.0,0.458,6.430,58.7,6.0622,3,222,18.7,5.21

In [29]:
Y.head()

0    24.0
1    21.6
2    34.7
3    33.4
5    28.7
Name: MEDV, dtype: float64

In [30]:
#split our data into a training and testing dataset

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=.2, random_state=1)

### Create Regression Tree

In [31]:
##The important parameters of DecisionTreeRegressor are

#criterion: {"mse", "friedman_mse", "mae", "poisson"} - The function used to measure error

#max_depth - The max depth the tree can be

#min_samples_split - The minimum number of samples required to split a node

#min_samples_leaf - The minimum number of samples that a leaf can contain

#max_features: {"auto", "sqrt", "log2"} - The number of feature we examine looking for the best one, used to speed up training

In [32]:
regression_tree = DecisionTreeRegressor(criterion = "mse")

### Training

In [33]:
regression_tree.fit(X_train, Y_train)

DecisionTreeRegressor(criterion='mse')

### EVALUATION

In [36]:
regression_tree.score(X_test, Y_test)

0.757656668180002

In [37]:
prediction = regression_tree.predict(X_test)

print("$",(prediction - Y_test).abs().mean()*1000)

$ 3044.3037974683543